DATABASE_URL=postgresql://saasready:saasready_password@db:5432/saasready
SECRET_KEY=your-secret-key-change-this-in-production-min-32-chars
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=10080

POSTGRES_USER=saasready
POSTGRES_PASSWORD=saasready_password
POSTGRES_DB=saasready

# Email Configuration
EMAIL_FROM=xyzaicloude@gmail.com
EMAIL_SMTP_HOST=smtp-relay.brevo.com
EMAIL_SMTP_PORT=587
EMAIL_SMTP_USERNAME=xyzaicloude@gmail.com
EMAIL_SMTP_PASSWORD=xsmtpsib-fe5b83d52d1a224502d0f9aeffbb0dc5c9e2704f10d386012a200900c953ab7e-cA7UejAiWE9rQODY
EMAIL_USE_TLS=true
EMAIL_USE_SSL=false

# Frontend URL for email links
FRONTEND_BASE_URL=http://localhost:3000

#to start pg admin -> docker exec -it saasready-db-1 psql -U saasready -d saasready